
.cat_btn{
    margin: 25px;
    padding: 25px;
    height: 25px;
    background-color: yellowgreen;
    border-radius: 15px;
    text-decoration: none;
}

.hhh{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}